<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Song Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1 class="f1">Song Recommendation System</h1>
    </header>

    <nav class="f2">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1 class="c1">About Us</h1>

    <main>

        <div class="c1">
            <img class="imgee"   src="/static/sml.jpeg" alt="Error" width="330px">
        </div>
<div class="f3" >
        In the era of social media, everybody shares their day-to-day events on platforms like Instagram, WhatsApp,
        Facebook, etc., in the form of stories. <br>

        Users often upload photos capturing various events such as birthday parties, marriage anniversaries, reunions,
        etc., accompanied by suitable songs. However, they frequently encounter difficulties in finding the perfect song
        to complement their photos, leading to the abandonment of the idea of sharing these moments with others. <br>

        To address this issue, we have developed a Song Recommendation System. This system aims to detect emotions from
        images and recommend the most suitable songs for your social media stories. <br>

        By integrating this system, users can enhance their social media engagement. While a simple image may convey
        that you attended an event, adding a carefully selected song allows others to feel and experience the emotions
        captured in the photo. A song has the power to breathe life into an image, providing a richer and more immersive
        storytelling experience. <br>
    </div>




        </div>
        </section>
        </div>
    </main>


</body>

</html>