<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Song Recommendation System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1 class="f1">Song Recommendation System</h1>
    </header>

    <nav class="f2">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <div class="f3">
            <h1 class="c1">Feel free to contact us.</h1>
        </div>
        <div>
            <table class="table f3 c1" border="2px" align="center">
                <th>Name</th>
                <th>Platform</th>
                <th>Link</th>
                <tr>
                    <td rowspan="3">Rachit Kumar</td>
                    <td>Instagram</td>
                    <td><a href="https://www.instagram.com/rach.it5325?igsh=MTU5NWRwa2VzdGp6YQ==" target="_blank">Click Here</a> </td>
                </tr>
                <tr>
                <tr>
                    <td>Email id</td>
                    <td>
                        <a href="mailto:rachitkumar2312004@gmail.com">rachitkumar2312004@gmail.com</a>
                    </td>
                </tr>
                <td rowspan="3">Ankit singh Tomar</td>
                <td>Instagram</td>
                <td><a
                        href="https://www.instagram.com/ankittomar1503?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Click
                        Here</a></td>
                </tr>
                <tr>
                    <td>
                        Email id
                    </td>
                    <td>
                        <a href="mailto:tomarakki1507@gmail.com">tomarakki1507@gmail.com</a>
                
                    </td>
                </tr>

            </table>
        </div>
    </main>
    <hr>

    <footer>
        <div class="c1">
            <p>Copyright &copy SongRecommendationSystem</p>
        </div>
    </footer>
</body>
</html>
